.glassmorphism_card{
    background: rgba(113, 185, 190, 0.39);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

@media(max-width: 428px){
    .glassmorphism_card{
        margin: auto;
        width: 100%;
    }
}

@media(min-width: 800px){
    .glassmorphism_card{
        margin: auto;
        width: 50%;
    }
}