.glassmorphism_card{}

@media(max-width: 428px){
    .glassmorphism_card{
        margin: auto;
        width: 100%;
    }
}

@media(min-width: 800px){
    .glassmorphism_card{
        margin: auto;
        width: 50%;
    }
}