.detail-content{
 border-radius: 8px;   
 margin-left: 310px;
 width: 620px;
 background-color: #282c34;
}

.recipe-image-detail{
    border-radius: 8px;
    width: 620px;
    height: 500px;
}

.title-content{
    padding-left: 10px;
}

.instructions-ingredients-content{
    padding-bottom: 10px;
}

p{
    padding-left: 5px;
}

@media(max-width: 428px){
    .detail-content{
        margin: auto;
        width: 90%;
    }

    .recipe-image-detail{
        width: 100%;
        height: 200px;
    }
}

@media(min-width: 800px){
    .detail-content{
        margin: auto;
        width: 75%;
    }

    .recipe-image-detail{
        width: 100%;
        height: 450px;
    }
}

.image-button-container{
    position: relative;
    width: 100%;
    justify-content: center;
}

.image-button-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

.image-button-container .add-recipe-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.image-button-container .add-recipe-button .add-recipe-button:hover{
    background-color: black;
}
.add-ingredient-instruction-btn {
    background-color: pink;
}
.dropzone {
    background: #eee;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    padding: 20px;
    cursor: pointer;
    height: 150px;
    width: 300px;
    border: 2px dashed cyan;
    outline: none;
}