.btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: flex;
  }

.primary {color: #FF10F0}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}